* {
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: honeydew;
    min-height: 100vh;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

li {
    list-style: none;
    width: 25%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
}

li .content {
    border: 1px solid greenyellow;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 250px;
    width: 100%;
    align-items: center;
    padding: 10px;
}

main {
  display: block;
  width: 100%;
}

li .content .bookAuthor {
    font-style: italic;
    color: pink;
    font-size: 10px;
    padding-bottom: 8px;
}

li .content .bookPrice{
    font-size: 19px;
    color: seagreen;
    font-weight: bold;
}

li .content .cat{
    font-size: 14px;
    color: steelblue;
    text-align: right;
    padding: 0 15px;
    width: 100%;
    height: 30px;
}

li .content img {
    max-width: 70px;
    height: auto;
    min-height: 110px;
    width: 100%;
}

li .content .bookTitle {
    font-size: 14px;
    overflow: hidden;
    text-align: center;
    height: 40px;
    line-height: 20px;
    width: 100%;
    color: lightslategray;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: lavender;
    /* height: 50px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: lightcoral;
    font-size: 200%;
}

.buttonsHolder {
  padding: 10px;
  margin: 10px;
  border: firebrick 1px solid;
}

.buttonsHolder button.sortButton,
.buttonsHolder button.filterButton {
  background-color: firebrick;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  padding: 8px 31px;
  margin: 5px;
  text-decoration: none;
  outline: none;
}

.buttonsHolder button.sortButton:hover {
  background-color: rgb(218,42,42);
}

.selectorBox {
  display: inline-block;
  margin: 0 10px;
}

.selectorBox select {
  height: 30px;
  border: firebrick 1px solid;
  box-sizing: border-box;
  outline: none;
  background-color: firebrick;
  color: #fff;
  padding: 0 5px;
}

/*                                                      LOADING                                                */
/* .loadingImg {
    max-width: 300px;
    width: 100%;
    height: auto;
} */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 30px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: pink;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
/*                                                     END OF LOADING                                                */






