body, html {
    background-image: url(images/main-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Karla', sans-serif;
    padding: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}

.topBoxes {
    display: flex;
}

.resourcesBox {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px 5px;
    box-sizing: border-box;
    padding: 20px;
    max-width: 1010px;
    width: 90%;
    /* background-image: url(images/resources/resourceBoard.png); */
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    height: 80px;
    
}

.resource {
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: space-between;
    padding: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px rgba(0, 0, 0, 0.2) solid;
    border-radius: 6px;
    width: 171px;
    height: 30px;
}

.resource img {
    width: 36px;
    height: 30px;
}

.xpBar {
    width: 60%;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px;
    box-sizing: border-box;
    padding: 20px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.xpBar > .level {
    font-size: 32px;
    white-space: nowrap;
}
.xpBar > .xpProgress {
    width: 90%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px rgba(0, 0, 0, 0.2) solid;
}

.xpBar > .xpProgress > .xpProgressMoving {
    width: 42%;
    background-color: rgba(64, 64, 192, 0.418);
    height: inherit;
}

.buildings {
    display: flex;
    justify-content: center;
}

.building {
    border: 1px rgba(0, 0, 0, 0.2) solid;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    padding: 20px;
    width: 250px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.viewBuildingImage {
    width: 200px;
    height: 200px;
    padding-bottom: 20px;
    margin: auto;
}

.building .buildingTitle {
    width: 230px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 20px;
    font-weight: 700;
}

/* button */

.myButton {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
    margin: auto;
}
.myButton:hover {
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}

.redButton {
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background-color:#c0392b;
	border-radius:5px;
	border:1px solid #c0300b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #b71540;
    margin: auto;
}

.redButton:hover {
    background-color: #c0300b;
}

/* button end */

.dropDownBuild {
    margin-top: 20px;
}

.dropDownBuild:hover .needToBuild {
	display: block;
}

.needToBuild {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: #b2bec3;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    border-radius: 6px;
    color: #000;
    width: 130px;
    margin-top: -180px;
    margin-left: -20px;
}

.needToBuild img{
    width: 24px;
    height: 20px;
}

.resourcesNeeded {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

/* BUILDING PAGE */
.buildingPage {
    margin: auto;
    max-width: 1160px;
    width: 90%;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    padding: 20px;
}

.buildingPageResources > .resourcesNeeded > img {
    width: 36px;
    height: 30px;
}

.buildingPageMargin {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buildingPageImg {
    text-align: center;
}

.buildingPageImg img {
    width: 432px;
    height: 360px;
}

.inBuildingPageTitle {
    text-align: center;
    font-size: 32px;
    display: flex;
    justify-content: space-around;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    border-radius: 6px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.15);
    color: #fff;
}

.buildingDescription {
    position: relative;
    top: -100px;
}