.App {
    text-align: center;
}

#root > div > header > div.carousel-root > div > div > ul > li> div > img {
    height: 622px;
    width: 70%;
}

.space {
    width: 50px;
}

.tarpas {
    width: 20px;
}

.carousel .slide .legend {
    transition: all .5s ease-in-out;
    position: absolute;
    left: 50%;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    opacity: 0.25;
    transition: opacity .35s ease-in-out;
    background-color: rgba(255, 255, 255, 0.0);
    background: rgba(255, 255, 255, 0.0);
}


#root > div > header > div.carousel-root {
    height: 682px;
    margin: auto;
    width: 80%;
    background: rgba(0, 0, 0, 1);
}

#root > div > header > div.carousel-root > div {
    height: 682px; 
}

#root > div > header > div.carousel-root > div > div > ul > li.slide.selected > div > p {
    font-size: 18px;
}



.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


table, tr, td, th {
    border: 1px solid #fff;
}

th {
    padding: 5px;
}

table {
    background-color: rgba(255, 255, 255, 0.05);
    border-collapse: collapse;
    font-size: 16px;
}

.boxGame {
    display:flex;
    justify-content: space-between;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.ball {
    position: relative;
    width: 50px;
    height: 50px;  
    border-radius: 50%;
    z-index: 1;
}

.basket {
    position: relative;
    width: 60px;
    height: 60px;  
    border-radius: 50%;
    border: 1px solid #fff;
    z-index: 0;
}

.score {
    font-size: 24px;
}

.ballBox {
    margin-right: 20px;
}

.sliders {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inlineBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 16px;
}

.africa {
    font-size: 12px;
}

.mirrorBox {
    text-align: center;
    width: 500px;
    height: 283px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 200px;
    padding: 15px;
    position: relative;
    top: -19px;
}

form.box {
    width: 500px;
    height: 280px;
    border: 1px solid black;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 200px;
    padding: 15px;
}

.slider-box span {
    font-size: 20px;
}

.slider-box {
    padding: 20px 0 20px 0;
    background-color: rgba(255, 255, 255, 0.15);
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    flex-direction: column;
}

form {
    font-size: 16px;
    text-align: left;
}

.box input,
.box select {
    width: 90%;
    height: 25px;
    font-size: 16px;
    outline: none;
    margin-bottom: 15px;
}

.box .textArea {
    width: 90%;
    height: 100px;
    font-size: 16px;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 50px;
}

.countbox {
    width: 350px;
    height: 350px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 50px;
}


.countbox h1{
    font-size: 50px;
}

.inline {
    display: flex;
    align-items: center;
}

.myButton {
    background-color: green;
    border-radius: 28px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    /* font-family: Arial; */
    font-size: 17px;
    padding: 16px 31px;
    margin-top: 15px;
    text-decoration: none;
    outline: none;
    margin: auto;
}

.myButton:active {
    position: relative;
    top: 1px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.color-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
